.username{
    background-color: rgb(3, 11, 19);
}

.Le{
position: absolute;
width: 165px;
height: 16px;
left: 16px;
top: 151px;

/* Body regular */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

}

.We{
position: absolute;
width: 116px;
height: 16px;
left: 16px;
top: 247px;
    
/* Body regular */
    
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

}

.Form{
 display: flex;
 flex-direction: column;
 gap: 20px;   
 margin-top: auto;
 margin-bottom: auto;
}